<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Lidgren.Network" version="2012.2.15.2" targetFramework="net46" />
  <package id="MonoGame.Framework.WindowsDX" version="3.4.0.459" targetFramework="net46" />
  <package id="NLog" version="4.0.1" targetFramework="net46" />
  <package id="NLog.Config" version="4.0.1" targetFramework="net46" />
  <package id="NLog.Schema" version="4.0.1" targetFramework="net46" />
  <package id="System.Collections.Immutable" version="1.1.36" targetFramework="net46" />
</packages>